In [2]:
import pandas as pd
CCTV_Seoul = pd.read_csv("data/01. CCTV_in_Seoul.csv", encoding = 'utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [3]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [4]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace = True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [5]:
pop_Seoul = pd.read_csv("data/01. population_in_Seoul.csv", encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2,20764

In [6]:
pop_Seoul = pd.read_csv("data/01. population_in_Seoul.csv", 
                        header = 2,
                        encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.0,1321458
1,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.0,25425
2,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.0,20764
3,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.0,36231
4,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.0,39997

In [7]:
pop_Seoul = pop_Seoul.iloc[:, [1,3,6, 9,13]]

In [8]:
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10197604  9926968  270636   1321458
1  종로구    162820   153589    9231     25425
2   중구    133240   124312    8928     20764
3  용산구    244203   229456   14747     36231
4  성동구    311244   303380    7864     39997

In [9]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                          pop_Seoul.columns[1] : '인구수',
                          pop_Seoul.columns[2] : '한국인',
                          pop_Seoul.columns[3] : '외국인',
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)

pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10197604  9926968  270636  1321458
1  종로구    162820   153589    9231    25425
2   중구    133240   124312    8928    20764
3  용산구    244203   229456   14747    36231
4  성동구    311244   303380    7864    39997

In [10]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [11]:
CCTV_Seoul.sort_values(by = '소계', ascending = True).head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [12]:
CCTV_Seoul.sort_values(by = '소계', ascending = False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [13]:
CCTV_Seoul['최근증가율'] = (CCTV_Seoul['2016년'] + CCTV_Seoul['2015년'] + CCTV_Seoul['2014년']) / CCTV_Seoul['2013년도 이전'] * 100

CCTV_Seoul.sort_values(by = '최근증가율', ascending = False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [14]:
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10197604  9926968  270636  1321458
1  종로구    162820   153589    9231    25425
2   중구    133240   124312    8928    20764
3  용산구    244203   229456   14747    36231
4  성동구    311244   303380    7864    39997

In [15]:
pop_Seoul.drop([0], inplace=True)
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  162820  153589   9231  25425
2   중구  133240  124312   8928  20764
3  용산구  244203  229456  14747  36231
4  성동구  311244  303380   7864  39997
5  광진구  372164  357211  14953  42214

In [16]:
pop_Seoul['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [17]:
pop_Seoul[pop_Seoul['구별'].isnull()]

Empty DataFrame
Columns: [구별, 인구수, 한국인, 외국인, 고령자]
Index: []

In [19]:
pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  162820  153589   9231  25425  5.669451  15.615404
2   중구  133240  124312   8928  20764  6.700690  15.583909
3  용산구  244203  229456  14747  36231  6.038828  14.836427
4  성동구  311244  303380   7864  39997  2.526635  12.850689
5  광진구  372164  357211  14953  42214  4.017852  11.342849

In [20]:
pop_Seoul.sort_values(by='인구수', ascending = False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  667483  660584   6899  72506  1.033584  10.862599
16  강서구  603772  597248   6524  72548  1.080540  12.015794
23  강남구  570500  565550   4950  63167  0.867660  11.072217
11  노원구  569384  565565   3819  71941  0.670725  12.634883
21  관악구  525515  507203  18312  68082  3.484582  12.955291

In [21]:
pop_Seoul.sort_values(by='외국인', ascending = False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  402985  368072  34913  52413  8.663598  13.006191
17   구로구  447874  416487  31387  56833  7.007998  12.689506
18   금천구  255082  236353  18729  32970  7.342345  12.925255
21   관악구  525515  507203  18312  68082  3.484582  12.955291
6   동대문구  369496  354079  15417  54173  4.172440  14.661322

In [22]:
pop_Seoul.sort_values(by='외국인비율', ascending = False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  402985  368072  34913  52413  8.663598  13.006191
18   금천구  255082  236353  18729  32970  7.342345  12.925255
17   구로구  447874  416487  31387  56833  7.007998  12.689506
2     중구  133240  124312   8928  20764  6.700690  15.583909
3    용산구  244203  229456  14747  36231  6.038828  14.836427

In [23]:
pop_Seoul.sort_values(by='고령자', ascending = False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
16  강서구  603772  597248   6524  72548  1.080540  12.015794
24  송파구  667483  660584   6899  72506  1.033584  10.862599
12  은평구  494388  489943   4445  72334  0.899091  14.631019
11  노원구  569384  565565   3819  71941  0.670725  12.634883
21  관악구  525515  507203  18312  68082  3.484582  12.955291

In [24]:
pop_Seoul.sort_values(by='고령자비율', ascending = False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
9    강북구  330192  326686   3506  54813  1.061806  16.600342
1    종로구  162820  153589   9231  25425  5.669451  15.615404
2     중구  133240  124312   8928  20764  6.700690  15.583909
3    용산구  244203  229456  14747  36231  6.038828  14.836427
13  서대문구  327163  314982  12181  48161  3.723221  14.720797

In [25]:
data_result = pd.merge(CCTV_Seoul, pop_Seoul, on='구별')
data_result.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,150.619195,570500,565550,4950,63167,0.867660,11.072217
1,강동구,773,379,99,155,377,166.490765,453233,449019,4214,54622,0.929765,12.051638
2,강북구,748,369,120,138,204,125.203252,330192,326686,3506,54813,1.061806,16.600342
3,강서구,884,388,258,184,81,134.793814,603772,597248,6524,72548,1.080540,12.015794
4,관악구,1496,846,260,390,613,149.290780,525515,507203,18312,68082,3.484582,12.955291

In [26]:

del data_result['2013년도 이전']
del data_result['2014년']
del data_result['2015년']
del data_result['2016년']
data_result.head()

    구별    소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0  강남구  2780  150.619195  570500  565550   4950  63167  0.867660  11.072217
1  강동구   773  166.490765  453233  449019   4214  54622  0.929765  12.051638
2  강북구   748  125.203252  330192  326686   3506  54813  1.061806  16.600342
3  강서구   884  134.793814  603772  597248   6524  72548  1.080540  12.015794
4  관악구  1496  149.290780  525515  507203  18312  68082  3.484582  12.955291

In [27]:
data_result.set_index('구별', inplace=True)
data_result.head()

       소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
구별
강남구  2780  150.619195  570500  565550   4950  63167  0.867660  11.072217
강동구   773  166.490765  453233  449019   4214  54622  0.929765  12.051638
강북구   748  125.203252  330192  326686   3506  54813  1.061806  16.600342
강서구   884  134.793814  603772  597248   6524  72548  1.080540  12.015794
관악구  1496  149.290780  525515  507203  18312  68082  3.484582  12.955291

In [31]:
np.corrcoef(data_result['고령자비율'], data_result['소계'])

NameError: name 'np' is not defined

In [30]:
!pip3 install numpy

Collecting numpy
  Using cached https://files.pythonhosted.org/packages/45/b2/6c7545bb7a38754d63048c7696804a0d947328125d81bf12beaa692c3ae3/numpy-1.19.5-cp36-cp36m-manylinux1_x86_64.whl
Installing collected packages: numpy
Successfully installed numpy-1.19.5

In [32]:

np.corrcoef(data_result['고령자비율'], data_result['소계'])

NameError: name 'np' is not defined

In [33]:
np.corrcoef(data_result['외국인비율'], data_result['소계'])

NameError: name 'np' is not defined

In [34]:
np.corrcoef(data_result['인구수'], data_result['소계'])

NameError: name 'np' is not defined

In [ ]:
data_result.sort_values(by = '소계', ascending=False).head(5)

In [1]:
data_result.sort_values(by = '인구수', ascending=False).head(5)

NameError: name 'data_result' is not defined

In [2]:

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Linux':
    path = "/usr/share/fonts/NanumFont/NanumGothic.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

FileNotFoundError: [Errno 2] No such file or directory: '/usr/share/fonts/NanumFont/NanumGothic.ttf'

In [4]:
data_result['소계'].plot(kind='barh', grid = True, figsize=(10,10))

NameError: name 'data_result' is not defined